*{
    margin:0%;
    padding:0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}


header ul {
    display:flex;
    Justify-content:end;
    list-style-type:none;
    font-size: 30px;
}

header ul li {
    margin:3%
}

#profile-image {
    border-radius: 50%;
    width: auto;
    height:25rem;
}

.introduction {
    display: inline-flex;
    justify-content: center;
    padding-left: 10rem;
    padding-top:5rem;
    padding-bottom: 20rem
}

#name {
    display:block;
    margin:8rem;
}

#employment {
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
}

.about-me p {
    line-height: 5rem
}

.about-me {
    font-size:1.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    height:200px;
}

#about-me {
    display:flex;
    justify-content: center;
    font-size:2.3rem;
}

/* body { */
    background-color: #f2f2fb;
    opacity: 0.4;
    background-size: 24px 24px;
    background-image:  repeating-linear-gradient(0deg, #000, #000 1.2000000000000002px, #f2f2fb 1.2000000000000002px, #f2f2fb);
}