/* Universal Selectors */
*{
    margin:0%;
    padding:0%;
    font-family:'Courier New', Courier, monospace;   
}
/* End Universal Selectors */

/* Start Element Selectors */
body {
    background-color: #f2f2fb;
    margin-left: 8rem;
    border-left: red solid 1px;
}

main {
    background-color: #f2f2fb;
    width: 100%;
    background-color: #f2f2fb;
    opacity: 25;
    background-size: 28px 30px;
    background-image:  repeating-linear-gradient(0deg, #4a71b9, #4a71b9 1px, #f2f2fb 1.4000000000000001px, #f2f2fb);
}

button {
    background-color: pink;
}

footer {
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 7rem;
}
/* End Element Selectors */

/* Start Class Selectors */
.nav-links {
    display:flex;
    flex-direction: end;
    align-items: center;
    Justify-content: space-evenly;
    list-style-type:none;
    height: 6rem;
    font-size: 2rem;
}

.link-title,
.project-title {
    color: black;
}

.introduction {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 40rem;
    font-size: 3.5rem;
}

.profile-image1 {
    border-radius: 50%;
    width: auto;
    height:30rem;
    margin: 5%;
}

.profile-image2 {
    position: absolute;
    left: 197px;
    top: 175px;
    border: dashed .2rem red;
    border-radius: 50%;
    width: auto;
    height:30rem;
}

.section-heading {
    display:flex;
    justify-content: center;
    font-size:2.3rem;
    color: black;
}

.more-about-me {
    display:flex;
    justify-content:center;
    align-items:center;
    height:40rem;
    line-height: 4rem;
    font-size:1.7rem;
}
.more-about-me p {
    width:70rem;
}

.my-work {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40rem;
}

.my-work a {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects img {
    margin:1rem;
    width:auto;
    height: 15rem;
    display:flex;
    justify-content: column;
    border: black dashed 1px;
}

.first-project img {
    margin: 1rem;
    width: auto;
    height: 20rem;
    border: black dashed 1px;
}

.connect-with-me {
    display:inline-flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40rem;
}


.contact-sections {
    font-size: 1.5rem;
    line-height: 4rem;
    padding: 2rem;
    border: black dashed 1px
}
/* End Class Selectors */

/* Start ID Selectors */
#employment {
    font-size: 1.5rem;
    line-height: 4rem;
}

/* End ID Selectors */

/* Start Psuedo Elements */
li:hover .link-title {
    color: red;
    font-size: 3rem;
}

.projects:hover h3 {
    color: red;
    font-size: 2rem;
}

.first-project:hover h3 {
    color: red;
    font-size: 2rem;
}

.psuedo-image:hover .profile-image2 {
    border-top: dashed .5rem red;
    opacity: 0;
}
/* End Psuedo Elements */

/* Start Media Queries */
@media screen and (max-width: 992px) {
body {
}

header {
    display: inline-flex;
    flex-direction: start;
}

li a {
    font-size: 1.2rem;
    display: flex;
}
}
/* End MEdia Queries */