/* Universal Selectors */
*{
    margin:0%;
    padding:0%;
    font-family:'Courier New', Courier, monospace;   
}
/* End Universal Selectors */

/* Start Element Selectors */
/* body {
    background-color: #f2f2fb;
    opacity: 0.4;
    background-size: 24px 24px;
    background-image:  repeating-linear-gradient(0deg, #000, #000 1.2000000000000002px, #f2f2fb 1.2000000000000002px, #f2f2fb);
} */

header ul {
    display:flex;
    Justify-content:end;
    list-style-type:none;
    font-size: 30px;
    background-color: #359268
}

header ul li {
    margin:3%;
    color: red;
}

h1 {
    font-size: 5rem;
}


/* End Element Selectors */

/* Start Class Selectors */
.introduction {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: #92355F;
}

.about-me p {
    line-height: 5rem
}

.about-me {
    font-size:1.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    height:750px;
}

.section-heading {
    display:flex;
    justify-content: center;
    font-size:2.3rem;
}

.my-work {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 750px;
}

.my-work a {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-image img {
    margin:1rem;
    width:auto;
    height: 15rem;
    display:flex;
    justify-content: column;
    border-style: dashed;
}

.first-project img {
    margin: 1rem;
    width: auto;
    height: 20rem;
    border-style: dashed;
}

.connect-with-me {
    display:inline-flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px
}

.contact-sections {

}
/* End Class Selectors */

/* Start ID Selectors */
#name {
    display:block;
    margin:8rem;
}

#employment {
    font-size: 1.5rem;
}

#profile-image {
    border-radius: 50%;
    width: auto;
    height:30rem;
    padding: 5%
}
/* End ID Selectors */

/* Start Media Queries */

/* End MEdia Queries */



